html{
     min-width: 1300px;
 }
 .container-fluid{
     margin:0;
     background-color: black;
 }

 ul{
     list-style: none;
     display: inline-block;
 }

 li {
     display: inline-block;
 }

 .left-ul{
     width:70%;
     padding-left:0;
     margin-bottom: 0;
 }


 div{
     display: inline-block;
     /*width:20%;*/
     /*border: px solid black;*/
 }

 body{
     background-color: #ffffff;
     width: 95%;
     margin: 0 auto;
     /*min-width: 1200px;*/
 }
 .left-nav{
     display: inline-block;
     width: 70%;
 }

 .right-nav{
     display: inline-block;
     float: right;
 }

 .dropdown1{
     display: inline-block;
     /*width: 100%;*/
 }
 .dropdown2{
     display: inline-block;
     /*width: 100%;*/
     float: right;
 }

 .btn-dark{
     display: inline-block;
 }

 .col-md-6{
     margin: auto;
     margin-right:0;

 }


 .header-search-input{
     width:50%;
     margin-right: 0;
     padding-left:0;
 }

 .UnderLineNav {
   background-color: #ffffff;
   overflow: hidden;
   padding-bottom: 0;
 }

 .UnderLineNav a {
   float: left;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   border-bottom: 3px solid transparent;
 }

 .UnderLineNav a:hover {
   border-bottom: 3px solid #cbcfd5;
 }

 .UnderLineNav a.active {
   border-bottom: 3px solid #DF570C;
 }

 .btn-lg{
     float: right;
 }

 .ml-3 {
     margin-left: 16px;
 }

 .picture-block{
     border: 1px solid #cbcfd5;
     /*font-size: 12px;
     font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;*/
 }

 /* Style the links inside the navigation bar */
 #your-repos-filter{
     display: inline-block;
     width: 25%;
 }

 /* Style the links inside the navigation bar */

 /*.fname {*/
     /*font-size: 20px;*/
 /*}*/

 .avatar-follower{
     width: 100px;
     height:100px;
 }



 .header-search-input{
    width:35%;
    display: inline-block;
 }

 .d-table-cell .col-9 .v-align-top{
     display: inline-block;
     height: 50%;

 }

 p{
     display: inline-block;
 }




  * {
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }
  nav {
    position: relative;
    float:right;

  }
  button {
    position: relative;
    width: 100%;
  }
  .avatar-aside {
    Position: absolute;
    width: 5%;

  }
  h3 {
    font-size: 20px

  }
